<div >

    <h1>{{ quizName }}</h1>

    <div class="challenge">

        <p>
            {{ challenge.index }}. {{ challenge.question }}
        </p>

        <div ng-bind-html="challenge.details" class="details"></div>

        <div class="content">

            <div ng-repeat="choice in challenge.choices" class="choices">
                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}"> {{ choice }}
            </div>

            <br/>
            <button ng-click="next()">{{ btnTitle }}</button>

        </div>

    </div>


</div>



