
<div class="question-form-section">

    <header>
        <div class="quiz-title">
            <h1>Quiz: &nbsp; '{{ quizName }}'</h1>
        </div>

    </header>

    <div class="login-content" >

        <div class="section-title">
            <h3>{{ challenge.index }}. {{ challenge.question }}</h3>

            <div ng-bind-html="challenge.details" class="details"></div>
        </div>

        <div ng-repeat="choice in challenge.choices" class="textbox-wrap">
            <div class="input-group">
                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" > {{ choice }}
            </div>
        </div>

        <div class="login-form-action clearfix">
            <button ng-click="next()" class="btn btn-success pull-right b.ue-btn">{{ btnTitle }} &nbsp; <i class="icon-chevron-right"></i></button>
        </div>

    </div>

</div>



